.butt{
    background-color: #edf1fa;
color: #4a70f8;
padding: 8px 19px;
font-weight: 400 !important;
font-size: 19px ;
border: 1px solid rgba(21,114,211,.1019607843);
border-radius: 5px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.photo5{
width: 120px;
height: 66px;

}
