* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0 ;
  padding: 0 ;
  width: 100% ;

  height: 100%;
  overflow: hidden; 
}

[data-aos="zoom-top-right"] {
  transform: translate(200px, -200px) scale(0.2);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 2.8s; /* بطيئة ومريحة */
  transition-timing-function: cubic-bezier(0.20, 1.1, 0.30, 1);
}


[data-aos="zoom-top-right"].aos-animate {
  transform: translate(0, 0) scale(1);
  opacity: 1;
}


